.App {
  height: 100vh;
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  background: #ebedee;
}
h1,
span {
  color: #228b22;
}

.default {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.default .date {
  margin-bottom: 10px;
}

.heading {
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  text-indent: 10px;
  font-size: 20px;
  height: 36px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Dropdown-control {
  border: none;
}

.first,
.second {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .App {
    padding: 40px 20px 0 20px;
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
  .heading {
    font-size: 18px;
  }
  .first {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    padding: 70px 15px 0 15px;
    width: 100%;
  }

  .first {
    margin-bottom: 20px;
  }
}
